.noscroll {
  overflow: hidden;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.full-page-wrap {
  padding: 0;
  margin: 0;
  background: orange;
  transition: all 0.25s;
}
.shrunk {
  background: blue;
  margin-right: 420px;
}
.overlay {
  position: absolute;
  z-index: 0;
  background: #38434d;
  opacity: 0;
  transition: opacity 2s ease;
}
.main-column {
  background: white;
  margin: 0;
  padding: 10px;
}
.menu-toggle {
  float: right;
}
.slide-in {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  width: 420px;
  height: 100%;
  transform: translateX(420px);
  transition: all 0.25s ease;
  overflow: hidden;
}
.frame {
  top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  transition: all 0.25s ease;
  overflow: auto;
}
.frame1 {
  background: orange;
}
.frame2 {
  background: lightblue;
}
.frame3 {
  background: purple;
}
.frame-left {
  z-index: 4;
  transform: translateX(-420px);
}
.frame-right {
  z-index: 4;
  transform: translateX(420px);
}
.frame-focus {
  z-index: 5;
}
.slide-shown {
  transform: translateX(0px) rotateY(0);
}
.overlay-shown {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
}
